{% set title = 'Media' %}

{% extends "index.html" %}
{% block title %}{{ title }}{% endblock %}
{% block ops %}
    <button type="button" id="nsfw" class="btn"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom" title="NSFW"><i class="fas fa-fw fa-shield"></i>
    </button>
    <button type="button" id="check" class="btn"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom" title="CHECK"><i class="fas fa-fw fa-user-check"></i>
    </button>
    <div class="input-group pl-5 pr-3">
        <span class="input-group-text">CROP</span>
        <input type="text" class="form-control" name="coordinate_0" placeholder="Coordinate Origin"
               aria-label="Coordinate Origin" aria-describedby="button-addon1">
        <input type="text" class="form-control" name="coordinate_lt" placeholder="Coordinate LT"
               aria-label="Coordinate LT" aria-describedby="button-addon1" readonly>
        <input type="text" class="form-control" name="coordinate_rb" placeholder="Coordinate RB"
               aria-label="Coordinate RB" aria-describedby="button-addon1" readonly>
        <div class="input-group-text">
            <input class="form-check-input mt-0" name="commit" type="checkbox" value="" aria-label="commit right now">
        </div>
        <button class="btn btn-outline-secondary btn-resize" type="button" id="button-addon1"><i
                class="fas fa-fw fa-crop">RESIZE</i></button>
    </div>
{% endblock %}
{% block js %}
    <script>
        let target = $.url().param('target');
        let Model = Object.create(ModelFH);

        Model.$table = $table;
        Model.target = target;
        Model.app = 'file';
        Model.font = {
            'u': '/webs/' + Model.app + '/index'
        };
        Model.index = {
            'u': '/' + Model.app + '/index',
            'f': function () {
                list_for_table(this, Model, undefined);
            }
        };
        Model.mkdir = {
            'u': '/' + Model.app + '/mkdir',
            'modal_id': 'mkdir-modal',
            '$btn': $("#mkdir-modal .commit-btn"),
            'f': function () {
                commit_from_model(this, Model, true)
            }
        };
        Model.check = {
            'u': '/' + Model.app + '/check',
            '$btn': $("#check"),
            'f': function () {
                let that = this;
                that.$btn.on('click', function () {
                    let params = {'target': target};
                    get({
                        'url': that.u,
                        'data': params,
                        'btn': that.$btn,
                        'success': function (rsp) {
                            Model.$table.bootstrapTable('load', rsp.data);
                        }
                    });
                });
            }
        };
        Model.nsfw = {
            'u': '/' + Model.app + '/nsfw',
            '$btn': $("#nsfw"),
            'f': function () {
                let that = this;
                that.$btn.on('click', function () {
                    let params = {'target': target};
                    get({
                        'url': that.u,
                        'data': params,
                        'btn': that.$btn,
                        'success': function (rsp) {
                            Model.$table.bootstrapTable('load', rsp.data);
                        }
                    });
                });
            }
        };
        Model.upload = {
            'u': '/' + Model.app + '/upload',
            'modal_id': 'upload-modal',
            '$btn': $("#upload-modal .commit-btn"),
            'f': function () {
                let that = this;
                that.$btn.on('click', function () {
                    let params = Model.json(that.modal_id);
                    let tk = $.url().param('tk');
                    let url = that.u
                    if (tk !== undefined) {
                        url = that.u + '?tk=' + tk
                    }
                    let fd = new FormData();
                    fd.append('file', params.file);
                    if (target != undefined) {
                        fd.append('target', target);
                    }
                    post({
                        'url': url,
                        'data': fd,
                        'btn': that.$btn,
                        'success': function (rsp) {
                            window.location.reload();
                        }
                    });
                });
            }
        };

        Model.deletes = {
            'u': '/' + Model.app + '/delete',
            '$btn': $("#delete"),
            'f': function () {
                confirm_do_with_table(this, Model, "DELETE");
            }
        };
        $(document).ready(function () {
            Model.index.f();
            Model.mkdir.f();
            Model.upload.f();
            Model.deletes.f();
            Model.check.f();
            Model.nsfw.f();
        })
    </script>
{% endblock %}
