{% set title = '(๑╹ヮ╹๑)ﾉ' %}

{% extends "index.html" %}
{% block title %}{{ title }}{% endblock %}
{% block ops %}
    <button hidden id="commit" class="btn btn-view-file" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="COMMIT">
        <i class="fas fa-fw fa-code-commit"></i></button>
    <button hidden class="btn download btn-view-file" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="DOWNLOAD">
        <i class="fas fa-fw fa-download"></i></button>
    <button hidden class="btn spatiotemporal btn-view-file" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="SPATIO">
        <i class="fas fa-fw fa-space-shuttle"></i>
    </button>
{% endblock %}
{% block js %}
    <script>
        let target = $.url().param('target');
        let Model = Object.create(ModelFH);

        Model.$table = $table;
        Model.target = target;
        Model.app = 'finansis:df';
        Model.font = {
            'u': '/webs/' + Model.app + '/index'
        };
        Model.index = {
            'u': '/' + Model.app + '/index',
            'f': function () {
                list_for_table(this, Model, undefined);
            }
        };
        Model.mkdir = {
            'u': '/' + Model.app + '/mkdir',
            'modal_id': 'mkdir-modal',
            '$btn': $("#mkdir-modal .commit-btn"),
            'f': function () {
                commit_from_model(this, Model, true)
            }
        };
        Model.deletes = {
            'u': '/' + Model.app + '/delete',
            '$btn': $("#delete"),
            'f': function () {
                confirm_do_with_table(this, Model, "DELETE");
            }
        };
        Model.touch = {
            'u': '/' + Model.app + '/touch',
            'suffix': '.yaml',
            'modal_id': 'touch-modal',
            '$btn': $("#touch-modal .commit-btn"),
            'f': function () {
                commit_from_model(this, Model, true)
            },
        };
        Model.edit = {
            'u': '/' + Model.app + '/touch',
            'modal_id': 'view-modal',
            '$btn': $("#view-modal .commit-btn"),
            'f': function () {
                commit_from_model(this, Model, false)
            },
        };
        $(document).ready(function () {
            Model.index.f();
            Model.mkdir.f();
            Model.touch.f();
            Model.deletes.f();
            Model.edit.f();
        })
    </script>
{% endblock %}

